.chart-container{
    width: 500px;
    height: 500px;
}
.reports-container{
    background-color: $dark-grey-background;
    margin-top: 30px;
}
.master-container{
    padding: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.charts-headline{
    color: $white;
    align-self: flex-start;
}
.select-container{
    margin-top: 30px;
    width: 300px
}
.reports-details-list{
    color: $white;
    display: flex;
    width: 600px;
    flex-direction: column;
    overflow: auto;
    margin-top: 30px;
    gap: 30px;
}
.report-details{
    display: flex;
    flex-direction: row;
    width: 500px;
    justify-content: space-between;
    padding-top: 20px;
}
.report-date-headline{
    font-weight: bold;
    border-bottom:  1px solid $white;
    padding-bottom: 20px;
}
.report-list-container{
    border-radius: $border-radius;
    background-color: $dark-grey-background;
    padding: 30px;
}
.report-details-data-type{
    width:70px
}