$master-background:#9ba0a4;
$black-background: #100f0f;
$dark-grey-background:#1e1f24;
$header-height: 80px;
$white: #ffffff;
$nav-active-item-color: #6267f2;
$gray-font:#696877;
$border-radius:20px;
$red-font:red;
$blue-background:#6469f5;