.button{
    background-color: $blue-background;
    color: $white;
    padding: 10px 15px;
    border-radius: $border-radius;
    display: flex;
    align-items: center;
    justify-content: center;
}
